.NFT_page {
  width: 100%;
  margin-top: 3rem;
}
.NFT_page h1 {
  margin-left: 1rem ;
  font-size: 1.2rem;
  font-weight: 500;
}
.NFT_page .NFT_page_div {
  width: 73.5rem;
  height: 20rem;
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.NFT_page .NFT_page_div_date {
  width: 20rem;
  height: 40rem;
  overflow: hidden;
}
.NFT_page .NFT_page_div_date h3 {
  color: #6e18fa;
}
.NFT_page .NFT_page_div_date h3 span {
  color: #9d8fee;
}
.NFT_page .NFT_page_div_date .NFT_page_div_button {
  width: 100%;
  height: 2rem;
  background-color: white;
  margin-top: 2rem;
  display: flex;
  justify-content: left;
}
.NFT_page .NFT_page_div_date .NFT_page_div_button button {
  background: #9760FF;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-left: 1rem;
}
.NFT_page .NFT_page_div_date .NFT_page_div_lesttime {
  width: 100%;
  height: 3rem;
  margin-top: 0.5rem;
}
.NFT_page .NFT_page_div_date .NFT_page_div_lesttime div {
  width: 100%;
  height: 1.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
}
.NFT_page .NFT_page_div_date .NFT_page_div_lesttime div span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50% ;
  margin: 0.5rem;
  background-color: #131312;
}
.NFT_page .NFT_page_div_date .NFT_page_div_lesttime div p {
  font-weight: bold;
}
.NFT_page .NFT_page_div_date .NFT_page_div_lesttime .NFT_page_div_lesttime_p {
  margin-left: 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}
.NFT_page .NFT_page_div_table {
  width: 65rem;
  height: 19rem;
  padding-left: 3rem ;
}
.NFT_page .NFT_page_div_table th {
  padding: 5px 5px !important;
  text-align: center;
}
.NFT_page .NFT_page_div_table td {
  padding: 4px 0px !important;
  border: 0.05rem solid black;
  border-left: 0px solid black !important;
}
.NFT_page .NFT_page_div_table .ant-table table {
  border-collapse: collapse !important;
}
.NFT_page .NFT_page_div_table table {
  border-left: 0px solid black !important;
}
.NFT_page .NFT_page_div_table .Nft_page_div_table1 {
  position: relative;
  width: 100%;
  height: 2rem;
}
.NFT_page .NFT_page_div_table .Nft_page_div_table1 span {
  width: 5rem;
  height: 2rem;
  display: inline-block;
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
