.RoleList ::-webkit-scrollbar {
  width: 5px;
}
.RoleList ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.RoleList ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
.RoleList ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 60, 255, 0.4);
}
.RoleList {
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  background-color: white;
  background-color: yellowgreen;
}
.RoleList .RoleList_one {
  width: 38rem;
  background-color: white;
}
.RoleList .RoleList_one .RoleList_one_first {
  background-color: white;
}
.RoleList .RoleList_one .RoleList_one_first img {
  width: 100%;
}
.RoleList .RoleList_one .RoleList_one_first .RoleList_one_first1 {
  width: 100%;
  height: 7.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.RoleList .RoleList_one .RoleList_one_first .RoleList_one_first1 .RoleList_one_first_text {
  width: 13rem;
  height: 5rem;
}
.RoleList .RoleList_one .RoleList_one_first .RoleList_one_first1 .RoleList_one_first_text h1 {
  text-align: left;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
  margin-bottom: 0px;
  margin-top: 0.5rem;
}
.RoleList .RoleList_one .RoleList_one_first .RoleList_one_first1 .RoleList_one_first_text p {
  text-align: left;
  font-size: 1.1rem;
}
.RoleList .RoleList_one .RoleList_one_first .RoleList_one_first1 .RoleList_one_first_text1 {
  width: 13rem;
  height: 6rem;
  text-align: right;
  font-size: 2rem;
  margin-top: 1rem;
}
.RoleList .RoleList_one .RoleList_one_first .RoleList_one_first1 .RoleList_one_first_text1 span {
  width: 2rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
.RoleList .RoleList_one .RoleList_one_first .RoleList_one_first1 .RoleList_one_first_text1 h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.RoleList .RoleList_one .RoleList_one_first .RoleList_one_first2 {
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.RoleList .RoleList_one .RoleList_one_first .RoleList_one_first2 button {
  width: 30%;
  height: 2.5rem;
  display: flex;
  border-radius: 0.5rem;
  flex-wrap: nowrap;
  border: 0.1rem solid rgba(77, 76, 76, 0.7);
  padding: 0.2rem 0rem;
  margin-top: 0.5rem;
}
.RoleList .RoleList_one .RoleList_one_first .RoleList_one_first2 button span {
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.5rem;
}
.RoleList .RoleList_one .RoleList_one_first .RoleList_one_first2 button p {
  height: 2rem;
  line-height: 2rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.RoleList .RoleList_one .RoleList_one_lest {
  text-align: left;
  background-color: white;
  padding-left: 2rem;
}
.RoleList .RoleList_one .RoleList_one_lest h1 {
  width: 36rem;
  height: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.RoleList .RoleList_one .RoleList_one_lest p {
  width: 36rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  padding: 0.2rem 0rem;
  margin-top: 2rem;
}
.RoleList .RoleList_one .RoleList_one_lest .RoleList_one_lest_comments {
  height: 25rem;
  background-color: white;
  overflow-y: auto;
}
.RoleList .RoleList_one .RoleList_one_lest h2 {
  color: rgba(88, 87, 87, 0.8);
}
.RoleList .RoleList_one .RoleList_one_lest .RoleList_one_lest_username {
  width: 100%;
  height: 14rem;
  margin-top: 1rem;
}
.RoleList .RoleList_one .RoleList_one_lest .RoleList_one_lest_username .RoleList_username_icon {
  width: 20rem;
  height: 3rem;
  display: flex;
  flex-wrap: nowrap;
}
.RoleList .RoleList_one .RoleList_one_lest .RoleList_one_lest_username .RoleList_username_icon span {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #b4b9b9;
  text-align: center;
  margin-top: 0.5rem;
  margin-left: 1rem;
  line-height: 2.5rem;
}
.RoleList .RoleList_one .RoleList_one_lest .RoleList_one_lest_username .RoleList_username_icon p {
  height: 2.5rem;
  margin-top: 0.4rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-block;
  width: 10rem;
  border: 0px solid black;
}
.RoleList .RoleList_one .RoleList_one_lest .RoleList_one_lest_username p {
  border: 0px solid black;
  width: 85%;
  height: 8rem;
  margin-left: 4.5rem;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0.5rem;
}
.RoleList .RoleList_one .RoleList_one_lest .RoleList_one_lest_username span {
  display: inline-block;
  width: 95%;
  height: 1rem;
  text-align: right;
  margin-top: -1rem;
}
.RoleList .RoleList_one .RoleList_comment {
  margin-top: 1rem;
  width: 100%;
  height: 12rem;
  padding-top: 1rem;
  border-top: 0.1rem solid black;
  background-color: white;
}
.RoleList .RoleList_one .RoleList_comment div {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
}
.RoleList .RoleList_one .RoleList_comment div span {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: #353333;
  border-radius: 50%;
}
.RoleList .RoleList_one .RoleList_comment div p {
  width: 5rem;
  height: 3rem;
  border: 0px solid brown;
  margin-top: 0px;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  line-height: 3rem;
}
.Related_Nft {
  margin-top: 1rem;
  width: 100%;
  height: 34rem;
  background-color: white;
}
.Related_Nft h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
.Related_Nft div {
  width: 100%;
  height: 15rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 0px;
}
.Related_Nft div div {
  width: 8rem;
  height: 14rem;
  margin-top: 0px;
  display: block;
}
.Related_Nft div div img {
  width: 8rem;
  height: 9rem;
}
.Related_Nft div div div {
  width: 8rem;
  height: 1.6rem;
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.Related_Nft div div div span {
  font-size: 0.9rem;
  display: block;
}
.Related_Nft div div div div {
  width: 4rem;
  height: 1.6rem;
  margin: 0px;
}
.Related_Nft div div div div span {
  display: inline-block;
  height: 1.6rem;
}
.Related_Nft div div .Related_Nft_box {
  width: 8rem;
  height: 2.5rem;
}
.Related_Nft div div .Related_Nft_box span {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #92928d;
  border-radius: 50%;
}
.Related_Nft div div .Related_Nft_box p {
  width: 3rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
}
