.Herder {
  width: 90rem;
  height: 4rem;
}
.Herder .css-hip9hq-MuiPaper-root-MuiAppBar-root {
  width: 100%;
  color: black;
  background-color: #b4caf5;
}
.Herder .icon {
  width: 2rem;
  height: 2rem;
  margin-left: 0.1rem;
  background-color: #fff;
}
.Herder .Button {
  width: 11rem;
  height: 3rem;
  margin-right: 2rem;
  border-radius: 15%;
  color: #abd3f3;
  background-color: #272121;
}
.Herder .Button button {
  width: 100%;
  background-color: #8b8686;
  font-size: 0.8rem;
}
.Herder .Herder_Tips {
  background-color: #e9d7df;
  color: #ee54a1;
}
