.mywallet {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mywallet .mywallet_h1 {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
  margin-top: 59px;
}
.mywallet .mywallet_herder {
  width: 100%;
  height: 422px;
  background-color: aqua;
  padding-left: 24px;
}
.mywallet .mywallet_herder .mywallet_herder_button {
  width: 100%;
  height: 80px;
  background-color: #666363;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.mywallet .mywallet_herder .mywallet_herder_button .mywallet_compareplans {
  width: 771px;
  height: 36px;
  display: flex;
  background-color: #fff;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 24px;
}
.mywallet .mywallet_herder .mywallet_herder_button .mywallet_token {
  width: 161px;
  height: 36px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin-top: 24px;
}
