.NFT_page {
  width: 1498px;
  // height: 40rem;
  margin-top: 3rem;
  // overflow: hidden;
  // background-color: rgb(189, 172, 206);

  h1 {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .NFT_page_div {
    
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .NFT_page_div_date {
    width: 300px;
    height: 40rem;

    overflow: hidden;
    background-color: #F7F7F7;
    h3 {
      color: rgb(110, 24, 250);
      span {
        color: rgb(157, 143, 238);
      }
    }
    .NFT_page_div_button {
      width: 100%;
      height: 2rem;
      margin-top: 2rem;
      display: flex;
      justify-content: left;
    background-color: #F7F7F7;

      button {
        background: #9760ff;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        margin-left: 1rem;
      }
    }
    .NFT_page_div_lesttime {
      width: 100%;
      height: 3rem;

      margin-top: 0.5rem;
      div {
        width: 100%;
        height: 1.5rem;

        display: flex;
        flex-wrap: nowrap;
        justify-content: left;
        span {
          display: inline-block;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          margin: 0.5rem;
          background-color: rgb(19, 19, 18);
        }
        p {
          font-weight: bold;
        }
      }
      .NFT_page_div_lesttime_p {
        margin-left: 1.5rem;
        font-size: 1.1rem;
        font-weight: bold;
      }
    }
  }
  .NFT_page_div_table {
    width: 1198px;
    height: 19rem;
    // background-color: rgb(211, 43, 43);
    padding: 38px;
    box-sizing: border-box;

    th {
      padding: 5px 5px !important;
      text-align: center;
    }
    td {
      padding: 4px 0px !important;
      border: 0.05rem solid black;
      border-left: 0px solid black !important;
    }
    .ant-table table {
      border-collapse: collapse !important;
    }

    table {
      border-left: 0px solid black !important;
    }
    .Nft_page_div_table1 {
      position: relative;
      width: 100%;
      height: 2rem;
      // background-color: aqua;

      span {
        width: 5rem;
        height: 2rem;
        display: inline-block;
        // background-color: azure;
        text-align: center;
        line-height: 2rem;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
  .ant-picker-calendar .ant-picker-panel .ant-picker-body {
    padding: 15px 0;
    background-color: #F7F7F7;
}
.datetime .datetime_one{
  background-color: #F7F7F7;
  padding: 35px 26px;
  margin: auto;
}

.datetime .datetime_one .datetime_one_one .ant-select-selector {
  background-color: #F7F7F7;
}
.ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow .ant-select-selection-placeholder {
  padding-right: 31px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #222222;
}
.datetime .datetime_one svg {
  font-size: 20px;
}
.ant-select-arrow{
  font-size: 15px !important;
}
.datetime .datetime_one .datetime_one_one {
  margin-left: 31px;

}
.NFT_page .ant-select-arrow {
  /* font-size: 15px !important; */
  display: none;
}
.ant-picker-calendar .ant-picker-panel {
  border-top: 0px ; 
}
.ant-picker-content th {
  height: 46px;
  line-height: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #761FDE;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  color: #fff;
  background:  #761FDE;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid   #761FDE;

}
}

.NFT_page .NFT_page_div_date .NFT_page_div_lesttime div span {
  background-color: #5458F7;
  margin-left: 1rem;
}
.NFT_page .NFT_page_div_date .NFT_page_div_lesttime div p {
  font-weight: bold;
  font-weight: 500;
  font-size: 13px;
  color: #A1A1AA; 
}
.NFT_page .NFT_page_div_date .NFT_page_div_lesttime .NFT_page_div_lesttime_p {
  margin-left: 33px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.NFT_page .NFT_page_div_date h3 {
  color: #6e18fa;
  font-weight: 700;
}
.NFT_page .NFT_page_div_date h3 span {
  color: #9d8fee;
  font-weight: 400;
}