.MenuList {
  width: 15rem;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 0.2rem solid #61b0f1;
}
.MenuList .head_p {
  width: 4rem;
  height: 4rem;
  margin: 2rem auto 0px auto;
}
.MenuList .text {
  font-weight: bold;
  margin-top: 1rem;
}
.MenuList .herder_text {
  width: 8rem;
  height: 6rem;
  color: #5a7cd8;
  border-radius: 15%;
  text-align: center;
  line-height: 2rem;
  margin: 1rem auto 0rem auto;
  background-color: #aecaeb;
  padding-top: 1rem;
}
.MenuList .herder_text span {
  display: block;
  height: 1.5rem;
  text-align: center;
}
