.email {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 60px;
  align-content: center;
  padding: 0px 57px 0px 67px;
}
.email .email_h1 {
  width: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */
  color: #222222;
  align-content: center;
  display: flex;
  justify-content: center;
}
.email .email_div {
  margin-top: 53px;
  width: 1041px;
  height: 108px;
}
.email .email_div p {
  width: 100%;
  height: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: lowercase;
  color: #898C95;
}
.email .email_box {
  margin-top: 76px;
  width: 100%;
  height: 315px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px 295px 61px 300px;
  background-color: white;
}
.email .email_box .email_title {
  display: inline-block;
  width: 100%;
  height: 50px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
  /* identical to box height, or 208% */
  display: flex;
  align-items: center;
  color: #000000;
}
.email .email_box .email_input {
  width: 902px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
}
.email .email_box button {
  margin-top: 91px;
  width: 160px;
  height: 50px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #761FDE;
  mix-blend-mode: normal;
  border-radius: 10px;
}
